@font-face {
	font-family: 'LeckerliOne';
	src: url('../fonts/LeckerliOne-Regular.otf');
}
.btn, .dropdown-menu, .form-control, .modal-header, .modal-content, .alert, .ui-slider,
	.ui-slider-handle, .custom-checkbox .custom-control-indicator,
	.navbar-toggler, .custom-file-control, .nav-tabs .nav-link {
	border-radius: 0px;
}

a {
	cursor: pointer;
}

#myCarousel {
	height: 500px;
	overflow: hidden;
	/*background-color: red;*/
}

.carousel-inner>.carousel-item {
	height: 500px;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

.carousel-item:nth-child(1) {
	background-image: url("../img/property (1).jpg");
}

.carousel-item:nth-child(2) {
	background-image: url("../img/property (2).jpg");
}

.carousel-item:nth-child(3) {
	background-image: url("../img/property (3).jpg");
}

.carousel-item:nth-child(4) {
	background-image: url("../img/property (4).jpg");
}

.filters>div {
	/*background-color: #808080;*/
	color: white;
}

div.overlays>div {
	position: absolute;
	z-index: 1000;
}

.brand-title {
	/*bottom: 10%;*/
	top: 3%;
	/*color: #fff;*/
	/*width: 25%;*/
	/*margin-left: -20px;*/
	/*text-align: center;*/
	/*background-color: red;*/
	width: 25%;
	/*margin: 0px auto;*/
	left: 50%;
	margin-left: -12.5%;
	background-image: url(../img/Logo.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	/*background-color: rgba(0,0,0,0.2);*/
	/*border-radius: 5px;*/
	padding: 48px 0px;
	cursor: pointer;
	/*height: 240px;*/
}

.brand-title h1 {
	text-align: center;
	transform: rotate(-35deg);
	font-size: 7.5em;
	/*font-family: 'Script MT Bold';*/
	font-family: 'LeckerliOne';
	text-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
	/*0 6px 12px rgba(0,0,0,.175)*/
	/*background-color: red;*/
	color: #000;
	/*width: 100%;*/
}

.brand-title div {
	background-color: rgba(0, 0, 0, 0.75);
	/*width: 50%;*/
	border-radius: 5px;
	left: 50%;
	color: #fff;
	position: absolute;
	margin-left: -25%;
	text-align: center;
}

.search {
	/*top: 10%;*/
	bottom: 15%;
	width: 75%;
	margin-left: -37.5%;
	background-color: rgba(0, 0, 0, 0.75);
	left: 50%;
	/*background-color: red;*/
	/*z-index: 1000;*/
}

.img-gallery {
	position: relative;
	overflow: hidden;
	height: 200px;
	background-position: 50%;
	background-size: cover;
}

.col-12:nth-child(1) .img-gallery {
	background-image: url('../img/banner (2).jpg');
}

.col-12:nth-child(2) .img-gallery {
	background-image: url('../img/banner (3).jpg');
}

.col-12:nth-child(3) .img-gallery {
	background-image: url('../img/banner (4).jpg');
}

.ui-in-text {
	position: absolute;
	bottom: -200px;
	width: 100%;
	height: 100%;
	transition: all .8s;
	background-color: rgba(0, 0, 0, 0.25);
	text-shadow: 2px 2px 2px #000;
	color: #fff;
	text-align: center;
	font-weight: bold;
	padding: 20px;
}

.img-gallery:hover .ui-in-text {
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.75);
}

.alert {
	/*display: none;*/
	
}

.seperator {
	height: 56px;
	padding: 0px;
	margin: 0px;
}

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu .dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -1px;
}

.dropdown-submenu .dropdown-menu:hover {
	display: block !important;
}

div.dropdown-menu.user-info {
	width: 360px;
	padding: 0px;
}

div.dropdown-menu.user-info div[class^="col"] {
	padding: 0px;
}

div.dropdown-menu.user-info h4 {
	color: black;
}

@media screen and (max-width: 767px) {
	.user-info>div.col-8 h5 {
		color: white;
		text-shadow: 3px 3px 2px #000;
	}
	.user-info>div.col-8 h6 {
		color: #aaa;
		text-shadow: 3px 3px 2px #000;
	}
}

.user-dp {
	border: none;
	border-radius: 0px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.user-nav {
	margin: -15px 0px;
	display: inline-block;
	position: relative;
	top: -4px;
}

.user-dp-xs {
	position: absolute;
	top: 8px;
	left: 4px;
	width: 35px;
	height: 35px;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
}

.user-dp-xs:hover {
	z-index: 10;
	width: 150px;
	height: 150px;
	margin: -63px -57px;
}

.user-dp-sm {
	width: 35px;
	height: 35px;
	/*float: left;*/
}

.user-dp-lg {
	width: 100px;
	height: 100px;
	position: relative;
	overflow: hidden;
}

.user-dp-xl {
	width: 200px;
	height: 200px;
}

.user-dp-lg>div {
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	display: none;
	cursor: pointer;
}

.user-dp-lg>div>h5 {
	color: white !important;
	margin-top: 10px;
}

.user-dp-lg:hover>div {
	display: block;
}

.user-dp-inline {
	cursor: pointer;
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: -20px 10px -20px 0px;
}

.diggle:hover {
	/*transform: rotate(-15deg);*/
	-webkit-animation: diggle 0.4s infinite;
	animation: diggle 0.4s infinite;
}

@-webkit-keyframes diggle { 
	0% {
		transform: rotate(0deg);
	}

	25% {
		transform:rotate(-10deg);
	}
	50% {
		transform:rotate(0deg);
	}
	75% {
		transform:rotate(10deg);
	}
	100% {
		transform:rotate(0deg);
	}
}
@keyframes diggle {
	0% {
		transform: rotate(0deg);
	}

	25% {
		transform:rotate(-10deg);
	}
	50% {
		transform:rotate(0deg);
	}
	75% {
		transform:rotate(10deg);
	}
	100% {
		transform:rotate(0deg);
	}
}
table td .fa-td {
	font-size: 24px;
}
table.table-fluid {
	
}
.modal table .fa.fa-minus {
	font-size: 20px;
}

table td .btn.btn-xs {
	margin: 2px 0px;
}

.table>thead>tr>th {
	vertical-align: middle;
}

th.compact-col {
	padding: 0px !important;
	text-align: center;
}

table .fa.fa-rupee {
	font-size: 14px;
}

.insert-here {
	/*background-color: red;*/
	height: 72px;
}

.prop-image {
	height: 72px;
	background-color: #eef;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.buy-prop-image {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
	position: relative;
}

.col-sm-12>.buy-prop-image, .col-md-12>.buy-prop-image {
	height: 500px;
}

.col-sm-6>.buy-prop-image, .col-md-6>.buy-prop-image {
	height: 250px;
}

.col-sm-4>.buy-prop-image, .col-md-4>.buy-prop-image {
	height: 150px;
}

.col-sm-3>.buy-prop-image, .col-md-3>.buy-prop-image {
	height: 110px;
}

.col-sm-2>.buy-prop-image, .col-md-2>.buy-prop-image {
	height: 64px;
}

.col-sm-1>.buy-prop-image, .col-md-1>.buy-prop-image {
	height: 40px;
}

.remove-image {
	background-color: #f00 !important;
	border-radius: 50%;
	height: 34px;
	width: 34px;
	text-align: center;
	font-size: 24px !important;
	color: #fff;
	opacity: 1;
	position: absolute;
	top: -9px;
	right: -9px;
	display: none;
}

.remove-image:hover {
	/*opacity: 0.6;*/
	background-color: #f88 !important;
	cursor: pointer;
}

.image-close {
	position: absolute;
	right: 15px;
	top: 10px;
	font-size: 40px;
	color: #fff;
	opacity: 0.8;
}

/* Style the Image Used to Trigger the Modal */
.image-triggerer {
    cursor: pointer;
    transition: 0.3s;
}

.image-triggerer:hover {opacity: 0.7;}

/* The Modal (background) */
#imageModalBS, #waitModal {
/*     display: none; Hidden by default */
/*     position: fixed; Stay in place */
    z-index: 1051; /* Sit on top */
/*     padding-top: 50px; Location of the box */
/*     left: 0; */
/*     top: 0; */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
/*     overflow: auto; Enable scroll if needed */
/*     background-color: rgb(0,0,0);  Fallback color */
/*     background-color: rgba(0,0,0,0.3); Black w/ opacity */
/*     box-sizing: border-box; */
}
#imageModalBS .modal-dialog {
    margin: auto;
    display: block;
    width: auto;
    max-width: 90%;
    max-height: 90%;
}
/* Modal Content (Image) */
.image-modal-content {
    margin: auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
    /*width: 80%;*/
    /*background-size: cover;*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
}
#waitModal {
	/*top: 30%;*/
	color: #fff;
	cursor: wait;
	/*height: 300px;*/
	/*margin-top: -12.5%;*/
}
#waitModal i {
	text-align: center;
	display: block;
	font-size: 10em;
	/*text-shadow: 10px 10px 10px rgba(255, 255, 255,0.5);*/
}
#waitModal .modal-dialog {
/* 	top: 50%; */
/* 	/*background-color: red;*/ */
/* 	height: 200px; */
/* 	margin-top: -100px; */
}
/* Caption of Modal Image (Image Text) - Same Width as the Image */
#image-caption, #wait-caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 50px;
    font-size: 16px;
    text-shadow: 3px 3px 3px #000;
}

/* Add Animation - Zoom in the Modal */
.image-modal-content, #image-caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.4s;
    animation-name: zoom;
    animation-duration: 0.4s;
    animation-timing-function: linear;
}
/* 100% Image Width on Smaller Screens */
@media only screen and (min-width: 787px){
	#imageModalBS .modal-dialog {
		height: 90%;
	}
    .image-modal-content {
        height: 100%;
    }
}
@media only screen and (max-width: 786px){
	#imageModalBS .modal-dialog, .image-modal-content {
        width: 100%;
    }
}

.panel-group div[data-toggle='collapse']:hover {
	background-color: #c9dde7;
	color: #11506f;
	cursor: pointer;
}

.panel-heading .dropdown-toggle {
	cursor: pointer;
	width: 50px;
	/*background-color: red;*/
	/*padding: 0px 5px;*/
	font-size: 20px;
}

.panel-heading .dropdown-toggle .fa {
	
}

hr.slim {
	margin: 5px -15px;
	border-color: #ccc;
}

hr.react {
	margin: 14px -15px;
	border-color: #ddd;
}

.ui-widget-header {
	background-color: #ccc;
}

.ui-draggable, .ui-droppable {
	/*background-position: top;*/
	
}

.range-holder-home {
	margin: 0px;
}

.range {
	border: none;
	background-color: transparent;
	font-weight: bold;
	color: #f6931f;
}

.ui-slider {
	margin-bottom: 5px;
}

.ui-slider-handle:hover {
	cursor: pointer;
}

#amount, #amount-slider-range {
	/*display: none;*/
	
}

.f-o-f-dp {
	position: relative;
	width: 45px;
}

.f-o-f-dp.up .user-dp {
	top: 0px;
}

@media screen and (max-width: 992px) {
	.brand-title h1 {
		font-size: 6em;
		/*color: yellow;*/
	}
	.brand-title {
		padding: 30px 0px;
		width: 50%;
		margin-left: -25%;
		/*background-color: red;*/
	}
}
@media screen and (max-width: 767px) {
	.f-o-f-dp {
		width: 36px;
	}
	.f-o-f-dp .user-dp-xs {
		top: 3px;
		left: 2px;
		width: 30px;
		height: 30px;
	}
	.user-dp-xs:hover {
		z-index: 10;
		width: 100px;
		height: 100px;
		margin: -35px -35px;
	}
}
@media screen and (max-width: 480px) {
	.brand-title h1 {
		font-size: 4.8em;
		/*color: yellow;*/
	}
	.brand-title {
		width: 100%;
		margin-left: 0px;
		left: 0px;
		padding: 18px 0px;
		/*background-color: red;*/
	}
	.col-sm-12>.buy-prop-image {
		height: 280px;
	}
	.col-sm-4>.buy-prop-image {
		height: 80px;
	}
	.col-sm-6>.buy-prop-image {
		height: 140px;
	}
	.col-sm-3>.buy-prop-image {
		height: 50px;
	}
}

.ratio h4 {
	text-align: center;
}

#pie {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	background-color: red;
	margin: 0px auto;
}

#yourRequirementModal .user-dp {
	top: 0px;
}

#yourRequirementModal div.popover, #requires div.popover, #posts div.popover
	{
	margin-left: 57px;
}

#requires div.popover h3.popover-title, #posts div.popover h3.popover-title
	{
	font-weight: bold;
}
/*----------------------------------------------*/
.modal-header, .modal-header h4, .modal-header .close {
	/*background-color: #222;*/
	/* Navbar - Inverse */
	/* 	background-color: #5bc0de; */
	/* Info */
	/*background-color: #f0ad4e;*/
	/* Warning */
	/*background-color: #d9534f;*/
	/* Danger */
	background-color: #337ab7;
	/* Primary */
	/* 	background-color: #5cb85c; */
	/* Success - W3 */
	color: white !important;
	font-size: 28px;
}

.modal-header h4 {
	text-align: center;
	margin: 5px;
}

.modal-header .close {
	font-size: 40px;
	opacity: 0.6;
	/*color: #fff !important;*/
}

.modal-header .close:hover {
	opacity: 0.4;
}

.modal-footer {
	background-color: #f9f9f9;
}

.modal-xl {
	width: 100%;
}

/*----------------------------------------------*/
div[id*='Snackbar'] {
	visibility: hidden; /* Hidden by default. Visible on click */
	min-width: 300px; /* Set a default minimum width */
	margin-left: -150px; /* Divide value of min-width by 2 */
	background-color: #333; /* Black background color */
	color: #fff; /* White text color */
	text-align: center; /* Centered text */
	padding: 16px; /* Padding */
	position: fixed; /* Sit on top of the screen */
	z-index: 1; /* Add a z-index if needed */
	left: 50%; /* Center the snackbar */
	bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
.showTheSnack {
	visibility: visible !important; /* Show the snackbar */
	/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}

	to {
		bottom: 30px;
		opacity: 1;
	}
}
@keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}

	to {
		bottom: 30px;
		opacity: 1;
	}
}
@-webkit-keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}

	to {
		bottom: 0;
		opacity: 0;
	}
}
@keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}

	to {
		bottom: 0;
		opacity: 0;
	}
}
@-webkit-keyframes zoomin {
	from {
		margin: -5px auto;
		width: 35px;
		height: 35px;
	}

	to {
		margin: -63px -57px;
		width: 150px;
		height: 150px;
	}
}
@keyframes zoomin {
	from {margin: -5px auto;
	width: 35px;
	height: 35px;
}

to {
	margin: -63px -57px;
	width: 150px;
	height: 150px;
}

}
@-webkit-keyframes zoomout {
	from {margin: -63px -57px;
	width: 150px;
	height: 150px
}

to {
	margin: -5px auto;
	width: 35px;
	height: 150px
}

}
@keyframes zoomout {
	from {margin: -63px -57px;
	width: 150px;
	height: 150px
}

to {
	margin: -5px auto;
	width: 35px;
	height: 150px
}

}
footer {
/* 	background-color: #222; */
/* 	color: #fff; */
/* 	box-sizing: border-box; */
}

footer h3 {
/* 	margin: 15px 0px; */
}

footer img {
	width: 25px;
	margin-top: -10px;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #fff;
}

::-webkit-scrollbar-thumb {
	background-color: #333;
	-webkit-box-shadow: inset 0 0 6px #000;
}
/*::-webkit-scrollbar:horizontal {
	height: 10px;
}*/
.modal.fade .modal-dialog {
-webkit-transform: scale(0.1);
-moz-transform: scale(0.1);
-ms-transform: scale(0.1);
transform: scale(0.1);
top: 300px;
opacity: 0;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
transition: all 0.3s;
}

.modal.fade.show .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -300px, 0);
    transform: translate3d(0, -300px, 0);
    opacity: 1;
}




.spinner {
  width: 160px;
  height: 160px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ccc;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}