<footer class="sticky-bottom bg-dark text-light">
	<div class="container-fluid">
		<div class="row pt-3">
			<div class="col-md-8 col-sm-6">
				<p>
					<span class="d-none d-lg-inline">&copy; Copyright - All
						rights reserved. </span>Designed and developed by <a
						href="https://www.facebook.com/RexTerminous"
						class="text-secondary"> Rizwan Raza</a> under the guidance of <a
						href="https://www.facebook.com/tausifraza91"
						class="text-secondary">Mr. Tausif Raza</a>
				</p>
			</div>
			<div class="col-md-4 col-sm-6 text-right">
				<h4>
					<a href="./" style="text-decoration: none; color: #fff"
						data-toggle="tooltip" data-placement="top"
						title="Real Estate eXplorer"> <img src="resources/img/rex.png">.E.X
						<span class="d-none d-lg-inline">-&nbsp;Real&nbsp;Estate&nbsp;eXplorer</span>
					</a>
				</h4>
			</div>
		</div>
	</div>
</footer>
