<footer class="sticky-bottom">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8 col-sm-6">
				<p class="mt-3">
					&copy; Copyright - All rights reserved. Designed and developed by <a
						href="https://www.facebook.com/rizwan.raza.365"> Rizwan Raza</a>
					under the guidance of <a href="#">Mr. Tausif Raza</a>
				</p>
			</div>
			<div class="col-md-4 col-sm-6 text-right">
				<h3>
					<a href="/" style="text-decoration: none; color: #fff"> <img
						src="resources/img/rex.png">.E.X
						-&nbsp;Real&nbsp;Estate&nbsp;eXplorer
					</a>
				</h3>
			</div>
		</div>
	</div>
</footer>
