<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<div class="overlays">
		<div class="brand-title"
			onclick="showImageModal('R.E.X by Rex - M.A.R.S', 'resources/img/Logo.png')">
			<h1 data-toggle="tooltip" title="Real Estate eXplorer"
				data-placement="auto">Rex</h1>
			<!-- <div>Real Estate eXplorer <br> Real Estate Management System</div> -->
		</div>
		<div class="container search">
			<br />
			<form action="search.php" id="searchForm">
				<div class="row filters">
					<div class="col-md-5">
						<div class="row">
							<div class="col-md-5">
								<label>Property Type</label>
							</div>
							<div class="col-md-7 form-group">
								<select class="form-control custom-select" name="type">
									<option value="All">All</option>
									<option value="Residential">Residential</option>
									<option value="Commercial">Commercial</option>
									<option value="Industrial">Industrial</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-md-7">
						<div class="float-left">
							<p class="range-holder-home">
								<label for="amount">Budget Range:</label> <input type="text"
									id="amount" readonly class="range range-home" name="range">
							</p>
						</div>
						<div class="float-right">
							<label class="custom-control custom-checkbox"> <input
								type="checkbox" class="custom-control-input" name="range-all"
								style="margin: 4px 0 0; line-height: normal; box-sizing: border-box; padding: 0; position: absolute; margin-left: -20px;"
								id="range-all"> <span class="custom-control-indicator"></span>
								<span class="custom-control-description">Any Range</span>
							</label>
						</div>
						<div class="clearfix"></div>
						<div id="amount-slider-range"></div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-12">
						<div class="input-group">
							<input type="search" class="form-control"
								placeholder="Enter City or PIN Code" name="q" autofocus>
							<span class="input-group-btn">
								<button class="btn btn-primary" type="submit">
									<i class="fa fa-search"></i>
								</button>
							</span>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
		<li data-target="#myCarousel" data-slide-to="3"></li>
	</ol>
	<div class="carousel-inner">
		<div class="carousel-item active"></div>
		<div class="carousel-item"></div>
		<div class="carousel-item"></div>
		<div class="carousel-item"></div>
	</div>
	<a class="carousel-control-prev" href="#myCarousel" role="button"
		data-slide="prev"> <span class="carousel-control-prev-icon"
		aria-hidden="true"></span> <span class="sr-only">Previous</span>
	</a> <a class="carousel-control-next" href="#myCarousel" role="button"
		data-slide="next"> <span class="carousel-control-next-icon"
		aria-hidden="true"></span> <span class="sr-only">Next</span>
	</a>
</div>
