<!-- Modal -->
<div class="modal fade" tabindex="-1" id="clientActiveErrorModal"
	role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="clientActiveErrorModalLabel">
					<i class="fa fa-fw fa-times"></i> Not Activated Yet
				</h4>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p class="modal-info">Activate yourself by clicking the mail you
					received on your email or request administrator for activating you.</p>
			</div>
		</div>
	</div>
</div>