<!-- Modal -->
<div class="modal fade" tabindex="-1" id="clientAuthErrorModal"
	role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="clientAuthErrorModalLabel">
					<i class="fa fa-remove"></i> Authentication Problem
				</h4>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p class="modal-info text-center">
					Password is Invalid. <a
						data-toggle="modal" data-dismiss="modal"
						data-target="#clientLoginModal">Try again</a>
				</p>
			</div>
		</div>
	</div>
</div>
