<!-- Modal -->
<div class="modal fade" tabindex="-1" id="changeInfoModal" role="dialog">
	<div class="modal-dialog modal-lg">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="changeInfoModalLabel">
					<i class="fa fa-fw fa-info-circle"></i> Property's Information
				</h4>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="Prop-Change-Informations?pid=" class="form"
					method="post" id="changeInfoForm">
					<fieldset>
						<legend>Amenities:</legend>
						<div class="row">
							<div class="col-md-12 form-group">
								<label class="control-label" for="desc"><i
									class="fa fa-fw fa-key"></i> In House</label> <br> <label
									class="custom-control custom-checkbox"> <input
									type="checkbox" class="custom-control-input" name="inHouse"
									value="net"> <span class="custom-control-indicator"></span>
									<span class="custom-control-description"> Internet /
										Wi-Fi</span>
								</label> <label class="custom-control custom-checkbox"> <input
									type="checkbox" class="custom-control-input" name="inHouse"
									value="air"> <span class="custom-control-indicator"></span>
									<span class="custom-control-description">
										Air-Conditioned</span>
								</label> <label class="custom-control custom-checkbox"> <input
									type="checkbox" class="custom-control-input" name="inHouse"
									value="ro"> <span class="custom-control-indicator"></span>
									<span class="custom-control-description"> RO Water
										System</span>
								</label> <label class="custom-control custom-checkbox"> <input
									type="checkbox" class="custom-control-input" name="inHouse"
									value="gas"> <span class="custom-control-indicator"></span>
									<span class="custom-control-description"> Gas Supply</span>
								</label> <label class="custom-control custom-checkbox"> <input
									type="checkbox" class="custom-control-input" name="inHouse"
									value="water"> <span class="custom-control-indicator"></span>
									<span class="custom-control-description"> Water Supply
										and Pipelining</span>
								</label>
							</div>
						</div>
					</fieldset>
					<fieldset>
						<legend>Property Snapshot:</legend>
						<div class="row">
							<div class="col-md-4 form-group">
								<label class="control-label" for="units"><i
									class="fa fa-fw fa-building"></i> Available Units</label>
								<div class="input-group">
									<input type="number" name="units" class="form-control"
										placeholder="Enter Available Units" required max="1000"
										min="1"> <span class="input-group-addon border-left-0">Units.</span>
								</div>
							</div>
							<div class="col-md-4 form-group">
								<label class="control-label" for="floor"><i
									class="fa fa-fw fa-building"></i> Floor Number (0 for Ground)</label> <input
									type="number" name="floor" class="form-control"
									placeholder="Enter Floor Number" max="100" min="-3">
							</div>
							<div class="col-md-4 form-group">
								<label class="control-label" for="t-floor"><i
									class="fa fa-fw fa-building"></i> Total Floors</label> <input
									type="number" name="t_floors" class="form-control"
									placeholder="Enter Total Number of Floors" required max="100"
									min="1">
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-group">
								<label class="control-label" for="desc"><i
									class="fa fa-fw fa-info-circle"></i> Brief Description
									(Optional)</label>
								<textarea name="desc" class="form-control"
									placeholder="Enter Breif Description of Property" rows="4"></textarea>
							</div>
							<div class="col-md-6 form-group">
								<label class="control-label" for="tnc"><i
									class="fa fa-fw fa-info-circle"></i> Terms and Conditions
									(Optional)</label>
								<textarea name="tnc" class="form-control"
									placeholder="Enter Terms and Conditions of Property" rows="4"></textarea>
							</div>
						</div>
					</fieldset>
					<button type="submit" class="btn btn-default btn-success btn-block"
						name="submit_btn" value="infoEdit">
						<span class="fa fa-fw fa-check"></span> Edit
					</button>
				</form>
			</div>
		</div>
	</div>
</div>
