<!-- Modal -->
<div class="modal fade" tabindex="-1" id="propEditModal" role="dialog">
	<div class="modal-dialog modal-lg">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="propEditModalLabel">
					<i class="fa fa-fw fa-edit"></i> Edit Property
				</h4>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form role="form" action="Prop-Edit?pid=" id="editPropForm"
				method="post">
				<div class="modal-body">
					<p>Edit the below info of the property.</p>
					<fieldset>
						<legend>Basic Info.</legend>
						<div class="row">
							<div class="col-md-6 form-group">
								<label class="control-label" for="p_type"><i
									class="fa fa-fw fa-home"></i> Property Type</label> <select
									class="form-control" name="p_type" required>
									<option value="Residential">Residential</option>
									<option value="Commercial">Commercial</option>
									<option value="Industrial">Industrial</option>
								</select>
							</div>
							<div class="col-md-6 form-group">
								<label class="control-label" for="t_type"><i
									class="fa fa-fw fa-home"></i> Transaction Type</label> <select
									class="form-control" name="t_type" required
									onchange="ageChecker()" id="t-type">
									<option value="New">New</option>
									<option value="Re-Sale">Re-Sale</option>
									<option value="Under Construction">Under Construction</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 form-group">
								<label class="control-label" for="title"><i
									class="fa fa-fw fa-home"></i> Property Title</label> <input type="text"
									name="title" class="form-control"
									placeholder="Enter Property Title" required>
							</div>
						</div>
					</fieldset>
					<fieldset>
						<legend>Price and More:</legend>
						<div class="row">
							<div class="col-md-6 form-group">
								<label class="control-label" for="price"><i
									class="fa fa-fw fa-money-bill-alt"></i> Total Price</label>
								<div class="input-group">
									<span class="input-group-addon"><i
										class="fa fa-fw fa-rupee-sign"></i></span> <input type="number"
										name="price" class="form-control"
										placeholder="Enter Price in Rupees" required step="5000">
									<span class="input-group-addon">.00</span>
								</div>
							</div>
							<div class="col-md-3 col-6 form-group">

								<label class="control-label" for="price-display"><i
									class="fa fa-fw fa-tag"></i> Display Price</label><br> <label
									class="custom-control custom-radio"> <input
									name="price_display" value="1" type="radio"
									class="custom-control-input" required> <span
									class="custom-control-indicator"></span> <span
									class="custom-control-description">Yes</span>
								</label> <label class="custom-control custom-radio"> <input
									name="price_display" value="0" required type="radio"
									class="custom-control-input"> <span
									class="custom-control-indicator"></span> <span
									class="custom-control-description">No</span>
								</label>
							</div>
							<div class="col-md-3 col-6 form-group">
								<label class="control-label" for="available"><i
									class="fa fa-fw fa-truck"></i> Available</label><br> <label
									class="custom-control custom-radio"> <input
									name="available" value="1" type="radio"
									class="custom-control-input" required> <span
									class="custom-control-indicator"></span> <span
									class="custom-control-description">Yes</span>
								</label> <label class="custom-control custom-radio"> <input
									name="available" value="0" required type="radio"
									class="custom-control-input"> <span
									class="custom-control-indicator"></span> <span
									class="custom-control-description">No</span>
								</label>
							</div>
						</div>
					</fieldset>
				</div>
				<div class="modal-footer">
					<button class="btn btn-success btn-block" type="submit"
						name="p-edit-submit" value="pedit_submit_btn">
						<i class="fa fa-fw fa-check"></i> Edit Property
					</button>
				</div>
			</form>
		</div>
	</div>
</div>