<div class="container">
	<!-- Modal -->
	  <div class="modal fade" tabindex="-1" id="deleteRequestModal" role="dialog">
	    <div class="modal-dialog modal-sm">

	      <!-- Modal content-->
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4><i class="fa fa-warning"></i> Are you Sure ?</h4>
	        </div>
	        <div class="modal-body">
	          <p class="modal-info"> Are you sure you want to delete <b><span>Requested Property</span></b> from our system <b>R.E.X</b> ?</p>
	        </div>
	        <div class="modal-footer">
		          <button class="btn btn-warning pull-left" data-dismiss="modal"><i class="fa fa-remove"></i> Cancel</button>
		          <button class="btn btn-danger pull-right" data-dismiss="modal" onclick="window.location.href='actions/props/delete-request.php?pr_id="><i class="fa fa-check"></i> Confirm</button>
	        </div>	        
	      </div>
	    </div>
	  </div> 
	</div>
</div>
