<!-- Modal -->
<div class="modal fade" tabindex="-1" id="errorModalBS" role="dialog"
	style="z-index: 1060;">
	<div class="modal-dialog">
		<div class="alert alert-danger alert-dismissible fade show"
			role="alert">
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<h4 class="alert-heading">Error!</h4>
			<p id="upper-text">Lorem Ipsum</p>
			<hr>
			<p class="mb-0" id="lower-text">Sorry</p>
		</div>
	</div>
</div>
