<!-- Modal -->
<div class="modal fade" tabindex="-1" id="forgotPasswordModal"
	role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="forgotPasswordModalLabel">
					<i class="fa fa-fw fa-eye"></i> Forgot Password
				</h4>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form role="form" action="actions/forgot-password.php" method="post">
					<div class="form-group">
						<label for="email"><i class="fa fa-envelope"></i> Email</label> <input
							type="text" class="form-control" name="email"
							placeholder="Enter Email" required>
					</div>
					<div class="alert alert-danger" id="errorHolder"
						style="display: none;"></div>
					<div class="alert alert-info">The new password will be sent
						to the above email, get new password from the mail.</div>
					<button type="submit" class="btn btn-default btn-success btn-block"
						name="submit_btn">
						<span class="fa fa-check"></span> Submit
					</button>
				</form>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-danger btn-default pull-left"
					data-dismiss="modal">
					<i class="fa fa-times"></i> Cancel
				</button>
			</div>
		</div>
	</div>
</div>
