<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>Archetype Created Web Application</display-name>
	<context-param>
		<description>Location to store uploaded profile file</description>
		<param-name>user-upload</param-name>
		<param-value>
         resources/uploads/users/
      </param-value>
	</context-param>
	<context-param>
		<description>Location to store uploaded temp file</description>
		<param-name>temp-upload</param-name>
		<param-value>
         resources/uploads/temp/
      </param-value>
	</context-param>
	<context-param>
		<description>Location to store uploaded properties file</description>
		<param-name>prop-upload</param-name>
		<param-value>
         resources/uploads/props/
      </param-value>
	</context-param>
	<servlet>
		<servlet-name>SignUpController</servlet-name>
		<servlet-class>com.rex.controller.SignUpController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ClientLoginController</servlet-name>
		<servlet-class>com.rex.controller.client.LoginController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminLoginController</servlet-name>
		<servlet-class>com.rex.controller.admin.LoginController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmailChecker</servlet-name>
		<servlet-class>com.rex.controller.EmailChecker</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutController</servlet-name>
		<servlet-class>com.rex.controller.LogoutController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ProfilePicUpdateController</display-name>
		<servlet-name>ProfilePicUpdateController</servlet-name>
		<servlet-class>com.rex.controller.ProfilePicUpdateController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdminUpdateController</display-name>
		<servlet-name>AdminUpdateController</servlet-name>
		<servlet-class>com.rex.controller.admin.UpdateController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateController</display-name>
		<servlet-name>UpdateController</servlet-name>
		<servlet-class>com.rex.controller.client.UpdateController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ActivationController</display-name>
		<servlet-name>ActivationController</servlet-name>
		<servlet-class>com.rex.controller.admin.client.ActivationController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteController</display-name>
		<servlet-name>DeleteController</servlet-name>
		<servlet-class>com.rex.controller.admin.client.DeleteController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignUpController</servlet-name>
		<url-pattern>/SignUp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ClientLoginController</servlet-name>
		<url-pattern>/ClientLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminLoginController</servlet-name>
		<url-pattern>/AdminLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmailChecker</servlet-name>
		<url-pattern>/EmailChecker</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutController</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProfilePicUpdateController</servlet-name>
		<url-pattern>/ProfilePicUpdate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminUpdateController</servlet-name>
		<url-pattern>/AdminUpdate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateController</servlet-name>
		<url-pattern>/ClientUpdate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActivationController</servlet-name>
		<url-pattern>/ClientActivation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteController</servlet-name>
		<url-pattern>/ClientDelete</url-pattern>
	</servlet-mapping>
</web-app>
