<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Archetype Created Web Application</display-name>
  <context-param>
    <description>Location to store uploaded profile file</description>
    <param-name>user-upload</param-name>
    <param-value>
         resources/uploads/users/
      </param-value>
  </context-param>
  <context-param>
    <description>Location to store uploaded temp file</description>
    <param-name>temp-upload</param-name>
    <param-value>
         resources/uploads/temp/
      </param-value>
  </context-param>
  <context-param>
    <description>Location to store uploaded properties file</description>
    <param-name>prop-upload</param-name>
    <param-value>
         resources/uploads/props/
      </param-value>
  </context-param>
  <error-page>
    <error-code>404</error-code>
    <location>/views/ErrorPage.jsp</location>
  </error-page>
  <jsp-config>
    <taglib>
      <taglib-uri>/WEB-INF/functions</taglib-uri>
      <taglib-location>/WEB-INF/functions.tld</taglib-location>
    </taglib>
  </jsp-config>
</web-app>